* {
	font-family: cursive;
}

h1 {
	text-align: center;
	font-size: 20px;
	margin-top: 30px;
}

.container {
	
	margin: auto;
	width: 90%;
	height: 400px;
	
}

.menu {
	width:28%;
	height: auto;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 30px;
	font-size: 14px;
	font-family: cursive;
	background-color: #bbbbbb;
	border: solid 1px #000000;
}


.menu p {
	margin-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
}


.dish {
	float: right;
	text-align: center;
	font-size: 15px;
	border: solid 1px #000000;
	width: 100px;
	height: 20px;
	line-height: 20px;
}

.chicken {
	background-color: #ff9999;
	font-weight: bold;
}

.beef {
	background-color: #ff0000;
	color: #FFFFFF;
	font-weight: bold
}

.sushi {
	background-color: #ffff99;
	font-weight: bold
}


@media screen and (max-width: 991px) {
    .it1, .it2 {
        width: 40.5%;
    }
    
    .it3 {
        width: 85%;
    }
}

@media screen and (max-width: 768px)   {
    
    .it1, .it2, .it3 {
        width: 100%;
        
    }
    
} 












